## Saferwall project specific files
api
docs
private
scripts
test
.env
# Binaries
cmd/services/**/main
**/__debug_bin

# git
**/.git
**/.gitattributes
**/.gitignore
**/.gitmodules
**/.github

# Common
**/.DS_Store
**/Thumbs.db
**/*.md
**/*~
**/*.log

# IDE
**/.idea
**/.vscode
tags
tags.lock

# Node
**/logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/node_modules

# Github agent
_diag/
_work/
.credentials
.credentials_rsaparams
externals/
.path
.runner