## Saferwall project specific files
api
build/k8s
build/mk
build/vagrant
deployments
docs
hack
private
scripts
test
*.env
.pre-commit-config.yaml
LICENSE
Makefile
VERSION
compose.yaml

# Binaries
cmd/services/**/main
**/__debug_bin
coverage

# git
**/.git
**/.gitattributes
**/.gitignore
**/.gitmodules
**/.github

# Common
**/.DS_Store
**/Thumbs.db
**/*.md
**/*~
**/*.log

# IDE
**/.idea
**/.vscode
tags
tags.lock

# Node
**/logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/node_modules

# Github agent
_diag/
_work/
.credentials
.credentials_rsaparams
externals/
.path
.runner

# Dockerfiles
**/Dockerfile.*