# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ENV
.env

# MultiAV pkg
**/*.key
**/*.lic
license.avastlic*
hbedv.key*
sav-linux-free
sep-deb.zip
**/*.lic-expired
**/*.key-expired
**/secrets.tar.gz
SPLX30-X64-Redhat8_CentOS8_Suse15-repack2.tar.gz

## old copy
build/data/windows-defender/

# Temp
build/helm/
private/
test/multiav
vmi/README.md
web/config/dev-app.toml

# Vault
.vault

# Configs
saferwall.*.toml

# NSQ
nsqd.*.dat
nsqd.dat

# Minio
minio/

# Packer iso directory
build/packer/iso/
build/packer/packer_cache/

# IDEs
**/*.vscode/
tags
tags.lock

# Vagrant
.vagrant/

# Github agent.
_diag/
_work/
.credentials
.credentials_rsaparams
externals/
.path
.runner