# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Private files
**/private.yaml

# Temp
private/
test/multiav
__debug_bin
cmd/**/main
private.env

# Vault
.vault

# NSQ
nsqd.*.dat
nsqd.dat
topic-*
*.meta.dat

# Tags
tags
tags.lock

# Vagrant
.vagrant/

# Github agent.
_diag/
_work/
.credentials
.credentials_rsaparams
externals/
.path
.runner

# Helm
**/charts/*.tgz