# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.vscode/

# ENV
.env

# MultiAV pkg
**/*.key
**/*.lic
license.avastlic*
hbedv.key*
sav-linux-free
sep-deb.zip
**/*.lic-expired
**/*.key-expired
build/data/install.conf
## old copy
build/docker/windows-defender/

# Temp
build/helm/
build/packer/
private/
test/multiav
cmd/multiav
vmi/README.md
web/config/dev-app.toml

# Vault
.vault

# Configs
saferwall.toml
