.is-centered{ text-align:center!important; }

.no-margin{margin:0!important;}
.no-margin-top{margin-top:0!important;}
.no-margin-bottom{margin-bottom:0!important;}
.no-margin-left{margin-left:0!important;}
.no-margin-right{margin-right:0!important;}

.no-padding{padding:0!important;}
.no-padding-top{padding-top:0!important;}
.no-padding-bottom{padding-bottom:0!important;}
.no-padding-left{padding-left:0!important;}
.no-padding-right{padding-right:0!important;}

body, button, input, select, textarea{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}