// $primary-color: #214753;
// $secondary-color: #1a5161;
// $third-color: #be465c;
// $fourth-color: #27a5cd;

// $danger-color: #be465c;

$primary-color: #00d1b2;
$secondary-color: #1a5161;
$third-color: #be465c;
$fourth-color: #27a5cd;

$danger-color: #be465c;