<!-- <div class="blog-sidebar">
    <div class="sidebar-block block-warning">
        <div class="block-title">What is Saferwall?</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, beatae? <a href="contact.html">Contact us</a></p>
    </div>
    <div class="sidebar-block block-info">
        <div class="block-title">What is Saferwall?</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, beatae?</p>
    </div>
</div> -->
<div class="blog-sidebar">
    <div class="sidebar-heading">Categories</div>
    <div class="sidebar-block block-info">
        <div class="post-categories">
        {% if post %}
            {% assign categories = post.categories %}
        {% else %}
            {% assign categories = site.categories %}
        {% endif %}

        {% for category in categories %}
        <a href="{{site.baseurl}}/blog/categories/{{category | first}}">{{category | first}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
        </div>
    </div>
</div>