<footer class="main-footer" {% if page.footer-space %} style="margin-top:100px;" {% endif %}>
	<!-- <svg class="footer-square-pattern" height="10">
		<pattern id="footer-pattern-checkers" x="0" y="0" width="100" height="20" patternUnits="userSpaceOnUse" >
			<rect class="checker" x="0" width="50" height="10" y="0" fill="#212224" />
			<rect class="checker" x="10" width="50" height="10" y="10" fill="#212224" />
		</pattern>
		<rect x="0" y="0" width="100%" height="10" fill="url(#footer-pattern-checkers)" />
	</svg> -->
	<div class="container">
		<div class="row no-margin">
			<div class="col m3 s12">
				<div class="footer-heading">Pricing</div>
				<ul>
					<li><a href="">Block Storage</a></li>
					<li><a href="">Dedicated Instances</a></li>
				</ul>
			</div>

			<div class="col m3 s12">
				<div class="footer-heading">Features</div>
				<ul>
					<li><a href="">Dedicated Cloud</a></li>
					<li><a href="">Datacenter Locations</a></li>
					<li><a href="">Control Panel</a></li>
					<li><a href="">Upload ISO</a></li>
				</ul>
			</div>
			<div class="col m3 s12">
				<div class="footer-heading">Resources</div>
				<ul>
					<li><a href="">Block Storage</a></li>
					<li><a href="">Dedicated Instances</a></li>
				</ul>
			</div>

			<div class="col m3 s12">
				<div class="footer-heading">Company</div>
				<ul>
					<li><a href="">Dedicated Cloud</a></li>
					<li><a href="">Datacenter Locations</a></li>
					<li><a href="">Control Panel</a></li>
					<li><a href="">Upload ISO</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="bottom-footer">
		<div class="container">
			Copyright &copy; 2017 Saferwall. All Rights Reserved.

			<div class="social-icons">
				<a href="" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Facebook"><i class="icon ion-social-facebook"></i></a>
				<a href="" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Instagram"><i class="icon ion-social-instagram"></i></a>
				<a href="" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Twitter"><i class="icon ion-social-twitter"></i></a>
			</div>
		</div>
	</div>
</footer>