<header class="main-header">
	<div class="container">
		<a href="/index.html" class="logo">
			{% asset saferwall.png width:'auto' height:'auto' %}
			<!-- {% if page.layout == "public" %}
				{% asset saferwall-logo.png width:'auto' height:'auto' %}
			{% else %}
				{% asset saferwall-logo-invert.png width:'auto' height:'auto' %}
			{% endif %} -->
		</a>

		<div class="mobile-nav-icon">
			<i class="icon ion-ios-list"></i>
		</div>

		<nav class="main-nav">
			<ul class="main-links">
				<li {% if page.current == "home" %} class="active" {% endif %}>
					<a href="/index.html">home</a>
				</li>
				<li {% if page.current == "about" %} class="active" {% endif %}>
					<a href="/about.html">about us</a>
				</li>
				<!-- <li {% if page.current == "statistics" %} class="active" {% endif %}>
					<a href="/reports/reports.html">statistics</a>
				</li> -->
				<li {% if page.current == "apis" %} class="active" {% endif %}>
					<a href="/apis.html">APIs</a>
				</li>
				<li {% if page.current == "blog" %} class="active" {% endif %}>
					<a href="/blog.html">Blog</a>
				</li>
				<li {% if page.current == "contact" %} class="active" {% endif %}>
					<a href="/contact.html">contact us</a>
				</li>
			</ul>

			<ul class="login-links">
				<li>
					<a href="/signin.html" class="signin">Sign in</a>
				</li>
				<li>
					<a href="/signup.html">Create Account</a>
				</li>
			</ul>
		</nav>
	</div>
</header>