.button{
	display:inline-block;
	height:40px;
	line-height:40px;
	padding:0 30px;
	border-radius:4px;
	font-family:$montserrat;
	font-size:12px;
	font-weight:700;
	transition: all .2s;
	border:0;

	&.full-width{
		width:100%;
		text-align: center;
	}

	&.large{
		height:50px;
		line-height: 50px;
	}

	&.uppercase{
		text-transform: uppercase;
	}

	&.blue{
		color:#fff;
	}

	&.red{
		color:#fff;
	}

	&.white{
		color:$primary-color;
	}

	&.black{
		color:#fff;
	}

	&:hover{
		&.blue{
			background-color:#1e63cc!important;
		}
	}
}

ul.auth-buttons{
	padding:0;

	li{
		list-style:0;

		&:not(:last-child){
			margin-bottom: 20px;
		}

		a{
			display:inline-block;
			height:50px;
			width:100%;
			border-radius:4px;
			line-height: 50px;

			.icon{
				display:inline-block;
				width:50px;
				height:50px;
				text-align: center;
				background-color:rgba($black, .25);
				font-size: 20px;
				transition: all .2s;
			}

			span{
				float:right;
				display:inline-block;
				width:calc(100% - 50px);
				text-align: center;
				font-family: $montserrat;
			}

			&:hover{
				.icon{
					background-color:transparent;
				}
			}

			&.facebook{
				background-color:#3b5998;
				color:#fff;
			}

			&.google{
				background-color:#ea4335;
				color:#fff;
			}

			&.twitter{
				background-color:#1da1f2;
				color:#fff;
			}
		}
	}
}