*, *:after, *:before{
	outline:0;
	padding:0;
	margin:0;
	box-sizing:border-box!important;
}

body{
	font-family: $open-sans;
	font-size: 14px;
	font-weight: 400;
	font-smoothing: antialiased;
	overflow-x: hidden;
}

.container{
	@media screen and (min-width: 1051px){
		width:1050px;
		max-width:1050px!important;	
	}

	@media screen and (max-width:1050px){
		width:100%;
		max-width: 100%!important;
		padding:0 15px;
	}
}

.container-fluid{
	width:90%;
	margin:0 auto;

	@media screen and (max-width:$screen-sm){
		width:100%;
	}
}

.full-width{
	width:100%!important;
}

.no-bottom-margin{
	margin-bottom:0!important;
}

.align-center{
	text-align:center!important;
}