.doc-sidebar{
	width:100%;

	.nav-section{
		width:100%;
		margin-bottom: 30px;
		position:relative;

		.section-title{
			color:$black;
			text-transform: uppercase;
			font-weight: 600;
			padding:6px 12px;
			border-radius:4px;
			box-shadow:0 5px 10px rgba($black, .1);
			cursor:pointer;
			margin-bottom: 20px;

			&:not(.active):hover{
				color:$primary-color;
			}

			&.active{
				background-color:$dark-blue;
				color:#fff;
			}
		}

		.sidebar-circle{
			height:7px;
			width:7px;
			background-color: $primary-color;
			border-radius:50%;
			position:absolute;
			top:64px;
			left:0;
			display:none;
			transition: all .2s;
		}

		ul{
			padding-left:20px;
			position:relative;
			display:none;

			&:after{
				content:"";
				position:absolute;
				top:10px;
				left:3px;
				width:1px;
				height:calc(100% - 20px);
				border-left:dashed 1px rgba($black, .25);
			}

			li{
				a{
					color:#373c44;
					font-size: 12px;
					font-weight: 600;
					display:inline-block;
					line-height: 30px;
					transition: all .2s;

					&.active{
						color:$primary-color;
					}

					&:not(.active):hover{
						color:rgba(#373c44, .75);
					}
				}
			}
		}
	}
}


.reports-sidebar{
	position:fixed;
	top:0;
	left:0;
	width:150px;
	height:100%;
	background-color:#fff;

	.logo{
		display:inline-block;
		text-align: center;
		padding:20px;
		margin-bottom: 50px;
		width:100%;

		img{
			max-width: 50%;
		}
	}

	.reports-nav{
		ul{
			li{
				position:relative;

				a{
					display:inline-block;
					width:100%;
					text-align: center;
					padding:10px;
					color:rgba($dark-blue, .5);
					transition: all .2s;
					border-right:solid 3px transparent;

					.icon{
						display:block;
						font-size: 36px;
					}

					&.active{
						color:$primary-color;
						border-right-color:$primary-color;
					}

					&:not(.active):hover{
						color:rgba($dark-blue, .75);
					}
				}

				.sub-menu{
					position:absolute;
					right:0;
					top:0;
					transform:translateX(100%);
					height:100%;
					background-color:$primary-color;
					z-index: 9999;
					display:none;
					border:solid 1px #f5f7fb;

					ul{
						li{
							a{
								color:#fff;
								text-align: left;
								padding:13.22px;
								border-right:0;

								&.active, &:hover{
									background-color:$dark-blue;
									color:#fff;
								}
							}
						}
					}
				}

				&:hover{
					.sub-menu{
						display:block;
					}
				}
			}
		}
	}

	&.mobile{
		width:50px;

		.logo{
			padding:5px;

			img{
				max-width: 100%;
			}
		}

		.reports-nav{
			ul{
				li{
					a{
						span{
							display:none;
						}
					}
				}
			}
		}
	}
}