$montserrat : 'Montserrat', sans-serif;
$open-sans : 'Open Sans', sans-serif;

$black : #212224;
$red : #cb2d3e;
$dark-red : #af3b39;
$primary-color : #008766;
$secondary-color: #e7501e;
// $primary-color : #1d8db7;
$dark-blue:#363b40;

//$screen-sm :768px;
$screen-sm : 890px;
$screen-xs :600px;
