# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
.vscode
.git
.dockerignore
.gitignore
README.md
Dockerfile
LICENSE

# Artifacts that will be built during image creation.
# This should contain all files created during `yarn build`.
dist
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*