.benefits{
	width:100%;
	float:left;
	// background:linear-gradient(to top right, #1d8db7, #167ca2);
	// background-color: rgba($black, .02);
	background-color: $primary-color;
	position:relative;

	.benefits-triangles{
		position:absolute;
		top:-1px;
		transform:rotate(180deg);
		width:100%;
		
		svg{
			fill:#fff;
			float:left;
		}
	}

	.benefits-content{
		padding:100px 0;
		color:#fff;

		.benefits-title{
			font-size: 28px;
			font-weight: 300;
			margin-bottom: 30px;
		}
		
		.block-title{
			font-size: 16px;
		}

		p{
			line-height:30px;
			font-size:16px;
			font-weight:200;
		
			& + p{
				margin-top: 40px;
			}
		}

		.block-image{
			margin-top: 30px;
			text-align: center;
			img{ max-width: 60%; height: 130px;}
		}
	}

	.benefits-triangles-before{
		position:absolute;
		top:0;
		transform:rotate(180deg);
		width:100%;
		
		svg{
			fill:rgba(black, .15);
			float:left;
		}
	}
}