.sign{
	header.main-header{
		height:85px;
		line-height: 85px;
		text-align: center;

		.logo{
			display:inline-block;

			img{
				vertical-align: middle;
				height:150px;
			}
		}
	}

	.sign-title{
		margin-top: 100px;
		margin-bottom: 30px;
		font-size: 18px;
		text-align: center;
		color:$primary-color;
		text-transform: uppercase;
	}

	.sign-form{
		width:300px;
		margin:0 auto;
		.sign-field{
			height:40px;
			border-radius:3px;
			border:solid 1px rgba($black, .15);
			margin-bottom: 20px;
			position:relative;
			transition:all .2s;

			.field-icon{
				height:40px;
				width:40px;
				border-right:solid 1px rgba($black, .15);
				float:left;
				text-align: center;
				line-height: 40px;
				height:38px;
				transition:all .2s;

				.icon{
					font-size: 20px;
					color:rgba($black, .15);
					transition:all .2s;
				}
			}
			input{
				width:calc(100% - 40px);
				height:40px;
				border:0;
				padding:0 10px;
				color:$dark-blue;
				font-weight: 600;

				&, &:hover, &:focus, &:active{
					box-shadow:0 0 0 0 transparent!important;
					border-bottom:0!important;
				}
			}

			.preview{
				position:absolute;
				top:0;
				right:0;
				height:40px;
				padding:0 10px;
				line-height:40px;
				cursor:pointer;

				.icon{
					color:rgba($black, .15);
					font-size: 20px;
					transition: color .2s;
				}

				&:hover{
					.icon{
						color:rgba($black, .25);
					}
				}
			}

			&.active{
				border-color:$primary-color;

				.field-icon{
					border-right-color:$primary-color;

					.icon{
						color:$primary-color;
					}
				}
			}

			&.error{
				border-color: $red;

				.field-icon{
					border-right-color: $red;

					.icon{
						color:$red;
					}
				}
			}
		}

		.forgot{
			display:inline-block;
			line-height:40px;
			color:rgba($black, .5);
		}

		.or{
			width:100%;
			line-height: 30px;
			position:relative;
			text-align: center;
			margin-bottom: 20px;

			&:before{
				content:"";
				position:absolute;
				top:50%;
				left:0;
				width:100%;
				height:3px;
				background-color: transparent;
				border-top:dashed 1px rgba($black, .15);
				z-index: -2
			}

			span{
				position:relative;
				font-family: $montserrat;
				font-weight: 700;
				color:rgba($black, .25);

				&:before{
					content:"";
					position:absolute;
					top:0;
					left:-10px;
					right:-10px;
					height:100%;
					background-color:#fff;
					z-index: -1
				}
			}
		}

		.not-member{
			text-align: center;
			line-height: 50px;
			font-weight: 600;
			color:rgba($black, .75);

			a{
				color:$primary-color;
			}
		}
	}
}